<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <link rel="stylesheet" href="assets/styles/index.css">
  </head>
  <body>
    {{ template "navbar" }}

    <section>
      {{ template "counter" . }}
    </section>

    <section>
      <h2>This is the stats section</h2>
    </section>
    
    <a href="/player">Click ME</a>

    <script src="assets/js/main.js"></script>
  </body>
</html>
