{{ define "name-form"}}
  <form method="post">
    <input type="text" name="firstName" placeholder="First Name"/>
    <input type="text" name="lastName" placeholder="Last Name"/>
    <input type="submit" name="Go"/>
  </form>
{{ end }}