{{ define "navbar" }}
<div class="navbar">
  <ul class="navbar-list">
    <li><a href="/"><img class="nav-icon" src="/assets/images/dashboard.svg"/></a></li>
    <li><a href="/player"><img class="nav-icon" src="/assets/images/heart.svg"/></a></li>
    <li><a href="/player"><img class="nav-icon" src="/assets/images/copy.svg"/></a></li>
    <li><a href="/player"><img class="nav-icon" src="/assets/images/question.svg"/></a></li>
  </ul>
</div>
{{ end}}